* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;

}

/* body  */

body {
    width: calc(100% - 12px);
    background-color: #130D21;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline-start: 10px;
    padding-block-end: 30px;

}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
    height: 12px;
    border: 0.2px solid rgb(68, 23, 69);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #C623C7;
    border-radius: 10px;
}


/* .navbar */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

nav img {
    width: 100px;

}

.navul {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navul a {
    font-size: 18px;
    font-weight: 100;
    color: rgba(245, 245, 245, 0.874);
}

svg {
    stroke: #C623C7;
    width: 2rem;
    height: 3rem;
}



/* Main-section */
.potion-name {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 60%;
    height: 400px;
    margin-top: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.potion-Img {
    width: 35%;
    height: 270px;
    border: 2px solid red;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.apio {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 90px;
    /* border: 2px solid red; */
    margin-top: 18px;
}

.apio ul {
    display: flex;
}

.apio li {
    margin: 0 20px;
}

.apio a {
    font-size: 16px;
    display: flex;
    align-items: center;

}

.apio i {
    margin-left: 5px;
    font-size: 14px;
}


/* lower-section */

.lower-part {
    max-height: 550px;
    width: 60%;
    /* border: 2px solid red; */
}

.Ingredients {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    max-height: 250px;
    border: 2px solid #e2eaf0;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}

.Characteristics {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    max-height: 250px;
    border: 2px solid #e2eaf0;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}









/* Footer-section */

footer {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.fot {
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

}

.threecards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

hr {
    width: 450px;
    border: 1.6px solid #C623C7;
    border-radius: 5px;
}

.threecards h1 {
    font-size: 20px;
}

.threecards a {
    color: rgba(255, 255, 255, 0.788);

}

@media only screen and (max-width: 600px) {
    .cards {
        width: 95%;
    }

    hr {
        width: 250px;
        border: 1.6px solid #C623C7;
        border-radius: 5px;
    }
}